<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Sign In</h2>
    <div>
        <form id="signUpForm" action="/auth/signup" method="post">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" value="" />
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" value="" />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
